
* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}
#map{
    position: inherit !important;
    width: 400px;
    height: 300px;
}
.modal-backdrop{
    position: inherit !important;
}
.alert{
  width: 80%;
  position: absolute;
 top:20%;
	 z-index: 200;
}
.boxBody
{
    background:#fefefe;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
}
       
    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	@include box-sizing(border-box);
		
		&:focus {
		  z-index: 2;
	}
	}

body {
	background: url(../img/fondo1.jpg) center center repeat fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

.login-form {
	margin-top: 0px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}

.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }


.routeSelectDark {
   background-color: #ccc;
}
.col-sm-2 {
    height: 50px;           
}
.col-sm-3 {  
    height: 50px;        
}
.col-sm-6 { 
    height: 50px;          
}
.col-sm-8 {  
    height: 50px;          
}
.col-sm-10 {
    height: 50px;           
}
#toplogo {
    padding-top: 10px;
}
#messages {
    padding-top: 19px;
    text-align: right;
    margin: 0px 0px 10px 0px;     
}
#routeSelect {
    width: 100%;
    color: #000;
    margin-bottom:5px;
    /* background-color: #ccc; */
}
#autorefresh {
    width: 100%;  
    margin-bottom:5px;
}
#delete {
    width: 100%;                
    margin-bottom:5px;
}
#refresh {
    width: 100%;   
    margin-bottom:5px;
}
#viewall {
    width: 100%;   
    margin-bottom:5px;
}
.deletediv {
    text-align: center;
}
.autorefreshdiv {
    text-align: center;
}
.refreshdiv {
    text-align: center;
}
.viewalldiv {
    text-align: center;
}
@media only screen and (min-width : 768px) {
    .container {
        margin-top: 96px;
    }

    .deletediv {
        text-align: left;
    }
    .autorefreshdiv {
        text-align: center;
    }

    .refreshdiv {
        text-align: center;
    }
    
    .viewalldiv {
        text-align: right;
    }    

    .navbar-nav > li > a {
    line-height: 47px !important;
    }
    .container-fluid {
    /*border: 1px solid #aaa;
    margin: 10px;*/
	padding-left: 50px;
     }
   .header {
    width: 100%;
    height: 79px;
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35);
    z-index: 10;
	top:0px;
    border:0px;
    position: fixed;
}
}

@media only screen and (min-width : 250px) {
    .container {
        margin-top: 80px;
    }
}

@media only screen and (min-width : 750px) {
    .container {
        margin-top: 80px;
    }

    .deletediv {
        text-align: left;
    }
    .autorefreshdiv {
        text-align: center;
    }

    .refreshdiv {
        text-align: center;
    }
    
    .viewalldiv {
        text-align: right;
    }    

    .navbar-nav > li > a {
    line-height: 40px !important;
    }

/*
   .nav > li > a {
    padding: 10px 39px;
   }*/

    .container-fluid {
    /*border: 1px solid #aaa;
    margin: 10px;*/
	padding-left: 30px;
     }
   .header {
    width: 100%;
    height: 53px;
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35);
    z-index: 10;
	top:0px;
    border:0px;
    position: fixed;
}
}   

.nav > li > a:hover {
    border-bottom: 1px solid #368921;
	background-color: #EEE !important;
}

.nav li a:hover, .nav li.selected a {
    color: #368921 !important;
}
#messages {
	border: 1px solid #000;
}   
#map-canvas {
    border: 1px solid #000;
    width: 100%;
    height: 360px;    
}
#mapdiv { 
    height: 375px;
}
#selectdiv {
       margin-bottom: 10px;
}
#halimage {
    vertical-align:middle;
    width: 37px;
    height: 37px;
    margin-bottom: 5px;
}

#block{
    width:100%;
    height:100%;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    top:0;
    left:0;
}
#popupbox h2{
    margin:0px;
}
#popupbox{
    display: none;
    padding: 5px;
    padding-top: 0px;
    background-color: white;
    border: 5px solid #C3D9FF;
    border-radius: 5px 5px 5px 5px;
    margin: 20px auto 0 308px;
    position: absolute;
    width: 330px;
    box-shadow:1px 1px 5px black;
    z-index: 2;
}
.buttonsBar{
    text-align: right;
    margin-top: 3px;
}
#popupbox label{
    display: block;
    float: left;
    margin-right: 9px;
    margin-top: 7px;
    text-align: right;
    width: 102px;
}
a.button {
    background-color: #92cae4;
    border:1px solid #205791;
    color:white;
    padding:5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow:1px 1px 5px black;
    tex-shadow:1px 1px black;
}
table{
    box-shadow:1px 1px 5px black;
     /* hack IE8 */
    border-spacing: 0 \0/;
    border-collapse: collapse \0/;
    border-right: 2px inset #D3D3D3 \0/;
    border-bottom: 2px inset #D3D3D3 \0/;
     /* hack IE7 */
    *border-spacing: 0;
    *border-collapse: collapse;
    *border-right: 2px inset #D3D3D3;
    *border-bottom: 2px inset #D3D3D3;
}
.bar{
    margin-top:20px;
    margin-bottom: 20px;
}
.title{
    background-color: RoyalBlue;
    border: 2px solid blanchedAlmond;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px black;
    color: white;
    font-family: Lucida Grande;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    text-shadow: 1px 1px gray;
}



.logo {
    display: inline;

    height: 70px;
    padding: 0px;
    margin: 0px;
    width: 65px;
}
.jumbotron {
 color: #368921;
}
.logo a {
    display: block;
   /* width: 100%;
    height: 80px;*/
    text-indent: 3em;
    background: transparent url("../img/soloplancho.jpg") no-repeat scroll 0px 50%;
    background-size: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.footer {
   width: 100%;
    height: 30px;
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35);
    z-index: 101;
  margin-top: 40px;
  border-top: 1px solid #eee;
  position: fixed;
  bottom: 0px;
}

